.write {
    color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.write-1 {
    width: 783px;
    height: 112px;
    top: 229px;
    left: 135px;
    padding-top: 150px;
    margin-left: 135px;

}

.write-2 {
    margin-left: 135px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: left;


}

.click {
    background-color: #0094D9;
    color: white;
    width: 210px;
    height: 56px;


    margin-left: 135px;
    border-radius: 10px
}

.banner-slide {
    width: 1540px;
    height: 750px;
}

.content-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.1em;
    text-align: left;


}

.btn-1 {
    background-color: #0094D9;
    color: white;
    width: 210px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
}

.swiper {
    width: 100%;
}

.header-slider {
    width: 100%;
    height: 100vh;
    max-height: 750px;
}

.header-slider .banner-swiper {
    width: 100%;
    height: 100%;
}

.header-slider .banner-swiper .swiper-pagination {
    bottom: 20px;
}

.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 1;
    background-color: transparent;
    position: relative;
}

.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
}

.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet-active {
    border-color: #fff;
}

.header-slider .banner-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-slider .banner-slide .container {
    width: 100%;
    height: 100%;
}

.header-slider .banner-slide .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.header-slider .banner-slide .content .content-title {
    width: 100%;
    max-width: 780px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 3.6px;
}

.header-slider .banner-slide .content .content-text {
    width: 100%;
    max-width: 650px;
    color: #FFF;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.6px;
}

.write {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    padding-top: 25px;



}

.button-1 {
    width: 210px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0094D9;

}

.content-btn {
    color: #FFF;
    text-decoration: none;
}
.card-1{
    width: 15%;
    height: 35vh;

    border-radius:10px ;
    border: 1px solid #dadada;
}
.cards{
    display: flex;
justify-content: space-around;    
padding-top: 4%;
padding-left: 5%;
padding-right: 5%;
}
.card-1 {
   
   text-align: center;
    box-sizing: border-box;
    padding-top: 2%;
    
}
.card-write{
    display: block;
    padding-top: 20%;
    color: #303030;
font-family: Inter;
font-size: 100%;
font-style: normal;
font-weight: 600;
line-height: 5vh; /* 187.5% */
letter-spacing: 1.6px;
}


.content{
    margin-left: 2%  ;
}

.photo-1 {
    width: 401.505px;
    height: 535px;
    margin-left: 125px;
    flex-shrink: 0;
    margin-top: 20px;
}

.card-photo {
    width: 760px;
    height: 280px;
    flex-shrink: 0;



    background: #FAFAFA;
}

.card-photo-write {
    width: 670px;
    height: 195px;
    flex-shrink: 0;
    color: #303030;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 200% */
    letter-spacing: 1.4px;
    margin-left: 30px;
    margin-top: 40px;
    padding-top: 30px;
}

.photo-1-write {
    color: #0094D9;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 93.75% */
    letter-spacing: 3.2px;
    display: flex;
    justify-content: right;
    margin-right: 100px;

}

.logo-1 {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.general-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
}

.general-navbar .nav-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.general-navbar .nav-inner .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    color: #FFF;
}

.general-navbar .nav-inner .right .nav-links {
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-write{
color: #0094D9;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
letter-spacing: 1.2px;

}
.write-color{
    background-color: #0094D9;
    width: 1%;
height: 15vh;
flex-shrink: 0;
margin-left: 1%;


}

.content-photo{
    display: flex;
    text-align: center;
  padding-top: 3%;
padding-left:7% ;  
    
   
}

.cont-text{
    background: #FAFAFA;
    width: 50%;
height: 40vh;
margin-top: 10%;
transform: translate(-10%,-10%);





}
.cont-write{
    color: #303030;
    font-family: Inter;

font-style: normal;
line-height: 200%; /* 200% */
letter-spacing: 1.4px;
margin-top: 6%;
width: 100%;
height: 100vh;



}


.video-section{
    
    width: 100%;
    height: 60vh;
    position:relative ;
    padding-top: 50px ;
}
.video-section .video-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color:#303030;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: #fff;



}












.blog-title {
    color: #303030;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    width: 100%;
    height: 8vh;
    margin-top: 5%;

}

.blog-text {
    width: 100%;
    height: 10%;
    flex-shrink: 0;
    color: #303030;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    
    /* 185.714% */
    letter-spacing: 0.84px;
    margin-top: 10px;

}

.blog-card {
    display: inline-block;
    margin-left: 15%;
    
    
}
.footers{
    width: 100%;
    background-color:#1E3556;
    height: 40vh;
   color: white; 
   list-style: none;
}
.foot{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;


     
}
.list-1{
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px;

 
} 
.list-write{
    list-style: none;
    margin: 20px;
    padding: 10px;
    
}
.from-search{
    position: relative;
    top: 3vh;
}
.from-search input::placeholder{
color:#FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.from-search input{
    width: 90%;
    height: 7vh;
    background: #1E3556;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: transparent;
    outline: none;
    padding: 15px 20px;
    padding-right: 40px;
}
.from-search button{
    position: absolute;
    transform: translateX(-70%);
    right: 15px;
    top: 10px;
    
    font-size: 19px;
}
.icons{
    background-color: #1E3556;
    
margin-top: 10px;
text-align: center; 
}
.footer-foot{
    width: 80%;
    height: 1px;
flex-shrink: 0;
background: rgba(217, 217, 217, 0.55);
margin-left: 10%;
}
.footer-write-1{
    color: var(--gray---1, #ACB1C4);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.footer-write-2{
    color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: right ;
margin: 10px;


}

@media screen and (max-width:500px) {
 .header-slider .banner-slide .content .content-title{
      

font-size: 26px;
    }
    .button-1{
      
        width: 110px;
        height: 50px;
    }
    .general-navbar .nav-inner .right{
        display: none;
        
    }
    .card-1{
       width: 80px;
       height: 140px;   
    }
    .card-write{
        font-size: 10px;
        margin-top: -20px;
        line-height: 20px;
    }
    .content-bigphoto{
        width: 200px;
        height: 300px;
    }
    .cont-write{
        font-size: 10px;
        
        
    }
    


}





   





