.write {
    color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.write-1 {
    width: 783px;
    height: 112px;
    top: 229px;
    left: 135px;
    padding-top: 150px;
    margin-left: 135px;

}

.write-2 {
    margin-left: 135px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: left;


}

.click {
    background-color: #0094D9;
    color: white;
    width: 210px;
    height: 56px;


    margin-left: 135px;
    border-radius: 10px
}

.banner-slide {
    width: 1540px;
    height: 750px;
}

.content-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.1em;
    text-align: left;


}

.btn-1 {
    background-color: #0094D9;
    color: white;
    width: 210px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
}

.swiper {
    width: 100%;
}

.header-slider {
    width: 100%;
    height: 100vh;
    max-height: 750px;
}

.header-slider .banner-swiper {
    width: 100%;
    height: 100%;
}
.header-slider .banner-swiper .swiper-pagination{
    bottom: 20px;
}
.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 1;
    background-color: transparent;
    position: relative;
}
.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
}
.header-slider .banner-swiper .swiper-pagination .swiper-pagination-bullet-active{
    border-color: #fff;
}

.header-slider .banner-slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-slider .banner-slide .container {
    width: 100%;
    height: 100%;
}

.header-slider .banner-slide .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.header-slider .banner-slide .content .content-title {
    width: 100%;
    max-width: 780px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 3.6px;
}

.header-slider .banner-slide .content .content-text {
    width: 100%;
    max-width: 650px;
    color: #FFF;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.6px;
}
.write{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
padding-top: 25px;



}
.button-1{
    width: 210px;
height: 56px;
flex-shrink: 0;
border-radius: 10px;
background: #0094D9;

}
.content-btn{
    color: #FFF;
    text-decoration: none;
}

.card-1{
    width: 210px;
height: 230px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #DADADA;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 30px;

}
.icon-card{
    width: 102px;
height: 102px;
flex-shrink: 0;
background-color: #FAFAFA;
border-radius: 50px;
margin-left: 51px;
margin-top: 30px;

}
.icon{
    width: 57.604px;
height: 56px;
flex-shrink: 0;


}
.icon-1{
    margin-left: 25px;
    margin-top: 25px;
}
.card-write{
    color: #303030;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 187.5% */
letter-spacing: 1.6px;
margin-top: 50px;
margin-left: 10px;


}
.icon-2{
    margin-left: 15px;
    margin-top: 25px;    
}
.icon-3{
    margin-left: 17px;
    margin-top: 20px;
}
.icon-4{
    margin-left: 17px;
    margin-top: 20px;
}
.icon-5{
    margin-left: 35px;
    margin-top: 20px;
}
.icon-6{
    margin-left: 25px;
    margin-top: 20px;
}
.card-write-1{
    color: #303030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 187.5% */
    letter-spacing: 1.6px;
    margin-top: 50px;
    margin-left: 20px;

}
.photo-1{
    width: 401.505px;
    height: 535px;
    margin-left: 135px ;
    flex-shrink: 0;
    margin-top: 20px;
}
.card-photo{
    width: 760px;
height: 280px;
flex-shrink: 0;



background: #FAFAFA;
}
.card-photo-write{
    width: 670px;
height: 195px;
flex-shrink: 0;
color: #303030;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
letter-spacing: 1.4px;
margin-left: 30px;
margin-top: 40px;
padding-top: 30px;
}
.photo-1-write{
    color: #0094D9;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 93.75% */
letter-spacing: 3.2px;
display: flex;
justify-content: right  ;
margin-right: 100px;
   
}
.logo-1{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
}
.general-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
}
.general-navbar .nav-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.general-navbar .nav-inner .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    color: #FFF;
}

.general-navbar .nav-inner .right .nav-links{
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }
    .big-text{
        transform: translateX(-60px);
        
    }
    .photo-2-write{
        background-color: #0094D9;
        width: 12px;
height: 96px;
margin-left: auto;
margin-top: -50px;
margin-right: 70px;



    }
    .video-1{
        padding-top: 10px;
    }
.fa-solid{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(260px);
}
.photo-card{
    width: 370px;
height: 250px;
flex-shrink: 0;
padding-top: 10px;
}
.photo-card-write{
    color: #303030;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
width: 343px;
height: 44px;
padding-top: 20px;
}
.photo-card-write-2{
    width: 370px;
height: 51px;
flex-shrink: 0;
color: #303030;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
letter-spacing: 0.84px;
padding-top: 30px ;
}

.blog-title{
    color: #303030;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
width: 343px;
height: 44px;
margin-top: 30px;

}
.blog-text{
    width: 370px;
height: 51px;
flex-shrink: 0;
color: #303030;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
letter-spacing: 0.84px;
margin-top: 10px;

}

